!!! 5
html(lang="ru")
  head
    title= pageTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
    /if IE
        script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js", 
               type="application/javascript")
  body
    a(href='http://github.com/ekalinin/nodeguide.ru') 
        img(alt='Fork me on GitHub', id='ribbon' 
            src='http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png')
    #wrapper
        #container
            #innder!= body

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js", 
           type="application/javascript")
