!!! 5
html(lang="ru")
  head
    title!=doc.title
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/pygments.css')
    /if IE
        script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js", 
               type="application/javascript")
  body

    div.document
        a(href='http://github.com/ekalinin/nodeguide.ru') 
            img(alt='Fork me on GitHub',
                style='position: fixed; top: 0; right: 0; border: 0;'
                src='http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png')
        div.documentwrapper
            div.bodywrapper
                div.body
                    !{doc.body}
                    #nav
                        - if (doc.parents.length)
                            - if (doc.prev)
                                a(href=doc.prev.link, title=doc.prev.title) « Назад
                            - if (doc.prev && doc.next)
                                 &nbsp;•
                            - if (doc.next)
                                a(href=doc.next.link, title=doc.next.title) Вперед »
        div.sphinxsidebar
            div.sphinxsidebarwrapper
                - if (doc.toc)
                    h3 Оглавление
                    !{doc.toc}
                h3 Связанные темы
                a(href='/') Все руководства о Node.js
                ul
                    li
                        ul
                            - if (doc.prev)
                                li
                                    Назад:
                                    a(href=doc.prev.link) !{doc.prev.title}
                            - if (doc.next)
                                li
                                    Вперед:
                                    a(href=doc.next.link) !{doc.next.title}
        div.clearer

    div.footer
        &copy;
        a(href='/') nodeguide.ru
        &nbsp;
        последнее обновление: #{env.last_updated}

    - if (port != '3000')
        script
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-9001714-4']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

    //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js", 
    //-       type="application/javascript")
